<div class="column">
	<h1 class="ui dividing header">Welcome to the Gitlab to MS-Teams Connector</h1>

	<p>
		In future here will be a welcome site and a getting started guide, or at least a link to it
	</p>

	<%= link_to 'Go to the admin interface >', admin_hooks_path %>
</div>
