<h1>Welcome to the Gitlab to MS-Teams Connector</h1>

In future here will be a welcome site and a getting started guide, or at least a link to it

<%= link_to 'Go to the admin interface >', admin_path %>
