<!DOCTYPE html>
<html>
  <head>
    <title>Gitlab-Teams-Connector</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-body" class="ui stackable grid container">
        <%= yield %>
    </div>
  </body>
</html>
